<?xml version="1.0"?>

<launch>
 <arg name="droneip" default="192.168.1.1" />
 <node name="ardrone_driver" pkg="ardrone_autonomy" type="ardrone_driver" output="log" args="-ip $(arg droneip)">
   <param name="navdata_demo" value="False" />
   <param name="realtime_navdata" value="True" />
   <param name="realtime_video" value="True" />
   <param name="looprate" value="30" />
 </node>
  <node name="joy" pkg="joy" type="joy_node" output="log">
  	<param name="deadzone" value="0.05" />
 </node>

 <node name="ar_outerloop" pkg="drone_application" type="drone_application" output="screen">
 </node> 

 <node pkg="rviz" type="rviz" name="rviz"/>
  <node pkg="tf" type="static_transform_publisher" name="world_to_cam" 
     />

  <arg name="marker_size" default="12.6" />
  <arg name="max_new_marker_error" default="0.08" />
  <arg name="max_track_error" default="0.2" />
  <arg name="cam_image_topic" default="/ardrone/front/image_raw" />
  <arg name="cam_info_topic" default="/ardrone/front/camera_info" />
  <arg name="output_frame" default="/ardrone_base_link" />

  <node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen">
    <param name="marker_size"           type="double" value="$(arg marker_size)" />
    <param name="max_new_marker_error"  type="double" value="$(arg max_new_marker_error)" />
    <param name="max_track_error"       type="double" value="$(arg max_track_error)" />
    <param name="output_frame"          type="string" value="$(arg output_frame)" />

    <remap from="camera_image"  to="$(arg cam_image_topic)" />
    <remap from="camera_info"   to="$(arg cam_info_topic)" />
  </node>

  <node name="listener" pkg="drone_application" type="drone_application" output="log" respawn="true"/>
<!-- <node name="drone_application1" pkg="drone_application" type="drone_application1" output="screen"> 
</node> -->
 

</launch>
